<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.demo.mapper.UserMapper">

    <select id="getUserInfoByTime" parameterType="String" resultType="user">
        SELECT USERID, NAME, AGE, ADDRESS, TIME FROM T_USER
        <if test="time != null and time != ''">
        WHERE TIME > #{time}
        </if>
        ORDER BY TIME ASC
        LIMIT 0,10
    </select>

</mapper>